/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    margin: 0;
    font-family:'Abel';
  }
  
  html, body, #app {
    height: 100%;
  }
  
  .flex-grow {
    flex-grow: 1;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height: 3rem;
  }